/* Estilos generales */
body {
   /* font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.box {
    /*background-color: #f1f1f1; */
    text-align: center;
    padding: 20px;
    /*border-radius: 10px; */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    border: solid 2px;
    margin: 0 4px;
}

/* Colores de borde diferentes para cada caja */
.box1 {
    border-color:  #509def; /* Borde azul */
}

.box2 {
    border-color: #3bb0c3; /* Borde rojo */
}

.box3 {
    border-color: #fec008; /* Borde verde */
}

.texto-des {
    font-size: 20px;
}
.texto-doc {
    opacity: 0.6;
}

/* Texto de venta y valor del ticket */
#venta {
    margin: 0;
    padding: 0;
}
.texto-venta {
    text-align: center;
    font-size: 19px;
    padding: 0px;
    margin: 0px;
    /* background-color: #fec008; */
}

.texto-valor {
    text-align: center;
    font-size: 40px;
    margin: 0px;
    /*padding: 6px 0px;*/
    font-weight: 500;
    /*background-color: blueviolet;*/
}

/* ********Formulario********** */
/* Estilos CSS personalizados */
.form-container {
    max-width: 700px;
    margin: 0 auto;
    /*padding: 20px;*/
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 2px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group label,
.form-group input,
.form-group select {
    display: block;
    width: 100%;
    padding: 5px;
}

.form-group label {
    width: 100px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 5px;
}

.form-group select {
    padding: 7px; /* Ajusta el valor según tus necesidades */
}

.form-group-total {
    flex: 2;
}

/* Estilo para el campo "TOTAL" */
#total {
    background-color: #bcd7f1; /* Color de fondo celeste clarito */
    color: #01017a; /* Color del texto azul oscuro */
    border: none; /* Eliminar el borde */
    height: 48px;        /*
    font-size: 18px;     /* Tamaño de la fuente de "Total a Pagar" */
    padding-left: 16px;   /* espacion entre el borde y donde comienza "Total a Pagar" */
    margin-bottom: 18px; /* Espacio entre el campo total y los botones */
    border-radius: 5px;
}

/* color azul al label dentro del campo total */
#total::placeholder {
    color: #01017a;
}

.form-group-buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #96c93d;
    color: white;
    padding: 10px 0; /* Modificación del ancho de los botones */
    border: none;
    cursor: pointer;
    width: 49%; /* Modificado para separar los botones */
}

.btn-success {
    background-color: #96c93d;
}

.btn:hover {
    opacity: 0.8;
}


/* *****Estilos para diferentes tamaños de pantalla***** */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .box {
        width: 100%;
    }
}

